{% extends 'base.html.twig' %}

{% block title %}Hello InstalmentController!{% endblock %}

{% block body %}
    <div class="row justify-content-md-center">
        <h2>Pay Loan Installment</h2>
        <div class="card w-50">
            <div class="card-body">
                {{ form_start(form, {'attr': {'class': 'needs-validation'}}) }}
                    <div class="row mb-3">
                        <h4>Payment Details</h4>
                        {{ form_label(form.creditCardNumber, 'Credit Card Number', {'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
                        <div class="col-sm-9">
                            {{ form_errors(form.creditCardNumber) }}
                            {{ form_widget(form.creditCardNumber) }}
                        </div>
                    </div>
                    <div class="row mb-3">
                        {{ form_label(form.expiryMonth, 'Expiry Month (MM)', {'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
                        <div class="col-sm-3">
                            {{ form_errors(form.expiryMonth) }}
                            {{ form_widget(form.expiryMonth) }}
                        </div>
                        {{ form_label(form.expiryYear, 'Expiry Year (YY)', {'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
                        <div class="col-sm-3">
                            {{ form_errors(form.expiryYear) }}
                            {{ form_widget(form.expiryYear) }}
                        </div>
                    </div>
                    <div class="row mb-3">
                        {{ form_label(form.cvv, 'CVV', {'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
                        <div class="col-sm-3">
                            {{ form_errors(form.cvv) }}
                            {{ form_widget(form.cvv) }}
                        </div>
                    </div>
                    <div class="mt-4">
                        {{ form_widget(form.pay, {'attr': {'class': 'btn-success btn-block waves-effect waves-light'}}) }}
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}
