{% extends 'base.html.twig' %}

{% block title %}Instalment View{% endblock %}

{% block body %}
    <h2>Instalment View</h2>
    <div class="card">
        <div class="card-body">
            <div class="row align-items-start">
                <div class="col">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Loan type</th>
                            <th>Year</th>
                            <th>Month</th>
                            <th>Amount</th>
                            <th>Status</th>
                            <th>Pay</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for instalment in instalments %}
                            <tr>
                                <td>{{ instalment['Loan_Type'] }}</td>
                                <td>{{ instalment['Year'] }}</td>
                                <td>{{ instalment['Month'] }}</td>
                                <td>{{ instalment['Amount'] }}</td>
                                <td>{{ instalment['Status'] == 'PAID' ? 'Paid' : 'Unpaid' }}</td>
                                <td>
                                    {% if instalment['Status'] == 'CREATED' %}
                                        <a class="btn btn-success btn-sm"
                                    {% else %}
                                        <a class="btn btn-success btn-sm disabled"
                                    {% endif %}
                                           href="{{ url('app_instalment_pay', { 'id': instalment['ID'] }) }}">
                                            <i class="mdi mdi-cash"></i>
                                        </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
