{% extends 'base.html.twig' %}

{% block title %}Online Loan{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('onlineLoan') }}
{% endblock %}

{% block body %}
    <div class="row justify-content-md-center">
        <h2 class="page-heading" >Online Loan Request</h2>
        {% if loanEligibility %}
        <div class="card w-50">
            <div class="card-body">
                <p>Maximum attainable loan amount (LKR): <span id="max-amount"></span></p>
                {{
                form_start(
                    form,
                    {
                        'attr':
                        {
                            'data-fd-select-id': form.fdId.vars.id
                        }
                    }
                )
                }}
                {{ form_errors(form) }}
                <div class="row mb-3">
                    {{ form_label(form.fdId, 'FD ID', {'label_attr': {'class': 'col-sm-4 col-form-label'}}) }}
                    <div class="col-sm-8">
                        {{ form_widget(form.fdId) }}
                        {{ form_errors(form.fdId) }}
                    </div>
                </div>
                <div class="row mb-3">
                    {{ form_label(form.loanType, 'Loan Type', {'label_attr': {'class': 'col-sm-4 col-form-label'}}) }}
                    <div class="col-sm-8">
                        {{ form_widget(form.loanType) }}
                        {{ form_errors(form.loanType) }}
                    </div>
                </div>
                <div class="row mb-3">
                    {{ form_label(form.amount, null, {'label_attr': {'class': 'col-sm-4 col-form-label'}}) }}
                    <div class="col-sm-8">
                        {{ form_widget(form.amount) }}
                        {{ form_errors(form.amount) }}
                    </div>
                </div>
                <div class="row mb-3">
                    {{ form_label(form.planId, null, {'label_attr': {'class': 'col-sm-4 col-form-label'}}) }}
                    <div class="col-sm-8">
                        {{ form_widget(form.planId) }}
                        {{ form_errors(form.planId) }}
                    </div>
                </div>
                <div class="mt-3">
                    {{ form_widget(form.submit, {'attr': {'class': 'btn-success'}}) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
        {% else %}
        <p>Not eligible for online loans. You need a fixed deposit (not expired) or a fixed deposit that is not used for another unsettled loan.</p>
        <p><a href="{{ path('app_fixed_deposit') }}">Create new fixed deposit</a></p>
        {% endif %}
    </div>
{% endblock %}
