{% extends 'base.html.twig' %}

{% block title %}Transfer Funds{% endblock %}

{% block body %}
<div class="row justify-content-md-center">
    <h2>Transfer Funds</h2>
    <div class="card w-50">
        <div class="card-body">
            {{ form_start(form) }}
            <div class="row mb-3">
                {{ form_errors(form) }}
                {{ form_label(form.from, 'From Account',{'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
                <div class="col-sm-10">
                    {{ form_errors(form.from) }}
                    {{ form_widget(form.from) }}
                </div>
            </div>
            <div class="row mb-3">
                {{ form_label(form.to, 'Beneficiary Account Number',{'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
                <div class="col-sm-10">
                    {{ form_errors(form.to) }}
                    {{ form_widget(form.to) }}
                </div>
            </div>
            <div class="row mb-3">
                {{ form_label(form.amount, null, {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
                <div class="col-sm-10">
                    {{ form_errors(form.amount) }}
                    {{ form_widget(form.amount) }}
                </div>
            </div>
            <div class="row mb-3">
                {{ form_label(form.description, null, {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
                <div class="col-sm-10">
                    {{ form_errors(form.description) }}
                    {{ form_widget(form.description) }}
                </div>
            </div>
            <div class="mt-3">
                {{ form_widget(form.transfer, {'attr': {'class': 'btn-success'}}) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}
