<!DOCTYPE html >
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body data-topbar="dark" data-layout="horizontal">
    <header id="page-topbar">
        <div class="navbar-header">
            <div class="d-flex">
                <!-- LOGO -->
                <div class="navbar-brand-box">
                    <a href="/" class="logo logo-dark">
                                <span class="logo-sm">
                                    <img src="{{ asset('build/images/logo-sm-dark.png') }}" alt="" height="22">
                                </span>
                        <span class="logo-lg">
                                    <img src="{{ asset('build/images/logo-dark.png') }}" alt="" height="19">
                                </span>
                    </a>

                    <a href="/" class="logo logo-light">
                                <span class="logo-sm">
                                    <img src="{{ asset('build/images/logo-light.png') }}" alt="" height="22">
                                </span>
                        <span class="logo-lg">
                                    <img src="{{ asset('build/images/logo-light.png') }}" alt="" height="19">
                                </span>
                    </a>
                </div>

                <button type="button" class="btn btn-sm mr-2 font-size-16 d-lg-none header-item waves-effect waves-light" data-toggle="collapse" data-target="#topnav-menu-content">
                    <i class="fa fa-fw fa-bars"></i>
                </button>

                <!-- App Search-->
                <form class="app-search d-none d-lg-block">
                    <div class="position-relative">
                        <input type="text" class="form-control" placeholder="Search...">
                        <span class="mdi mdi-magnify"></span>
                    </div>
                </form>
            </div>

            <div class="d-flex">

                <div class="dropdown d-inline-block d-lg-none ml-2">
                    <button type="button" class="btn header-item noti-icon waves-effect" id="page-header-search-dropdown"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="mdi mdi-magnify"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right p-0"
                         aria-labelledby="page-header-search-dropdown">

                        <form class="p-3">
                            <div class="form-group m-0">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search ..." aria-label="Recipient's username">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="submit"><i class="mdi mdi-magnify"></i></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}

                <div class="dropdown d-inline-block">
                    <button type="button" class="btn header-item noti-icon waves-effect dropdown-toggle" id="page-header-notifications-dropdown"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="mdi mdi-bell-outline"></i>
                        <span class="badge rounded-pill bg-danger">3</span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right p-0"
                         aria-labelledby="page-header-notifications-dropdown">
                        <div class="p-3">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h6 class="m-0 font-weight-medium text-uppercase"> Notifications </h6>
                                </div>
                                <div class="col-auto">
                                    <span class="badge rounded-pill bg-danger">New 3</span>
                                </div>
                            </div>
                        </div>
                        <div data-simplebar style="max-height: 230px;">
                            <a href="" class="text-reset notification-item">
                                <div class="media">
                                    <div class="avatar-xs mr-3">
                                                <span class="avatar-title bg-primary rounded-circle font-size-16">
                                                    <i class="mdi mdi-cart"></i>
                                                </span>
                                    </div>
                                    <div class="media-body">
                                        <h6 class="mt-0 mb-1">Your order is placed</h6>
                                        <div class="font-size-12 text-muted">
                                            <p class="mb-1">If several languages coalesce the grammar</p>
                                            <p class="mb-0"><i class="mdi mdi-clock-outline"></i> 3 min ago</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="" class="text-reset notification-item">
                                <div class="media">
                                    <img src="{{ asset('build/images/users/avatar-3.jpg') }}"
                                         class="mr-3 rounded-circle avatar-xs" alt="user-pic">
                                    <div class="media-body">
                                        <h6 class="mt-0 mb-1">Andrew Mackie</h6>
                                        <div class="font-size-12 text-muted">
                                            <p class="mb-1">It will seem like simplified English.</p>
                                            <p class="mb-0"><i class="mdi mdi-clock-outline"></i> 1 hours ago</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="" class="text-reset notification-item">
                                <div class="media">
                                    <div class="avatar-xs mr-3">
                                                <span class="avatar-title bg-success rounded-circle font-size-16">
                                                    <i class="mdi mdi-package-variant-closed"></i>
                                                </span>
                                    </div>
                                    <div class="media-body">
                                        <h6 class="mt-0 mb-1">Your item is shipped</h6>
                                        <div class="font-size-12 text-muted">
                                            <p class="mb-1">One could refuse to pay expensive translators.</p>
                                            <p class="mb-0"><i class="mdi mdi-clock-outline"></i> 3 min ago</p>
                                        </div>
                                    </div>
                                </div>
                            </a>

                            <a href="" class="text-reset notification-item">
                                <div class="media">
                                    <img src="{{ asset('build/images/users/avatar-4.jpg') }}"
                                         class="mr-3 rounded-circle avatar-xs" alt="user-pic">
                                    <div class="media-body">
                                        <h6 class="mt-0 mb-1">Dominic Kellway</h6>
                                        <div class="font-size-12 text-muted">
                                            <p class="mb-1">As a skeptical Cambridge friend of mine occidental.</p>
                                            <p class="mb-0"><i class="mdi mdi-clock-outline"></i> 1 hours ago</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="p-2 border-top">
                            <a class="btn-link btn btn-block text-center" href="javascript:void(0)">
                                <i class="mdi mdi-arrow-down-circle mr-1"></i> Load More..
                            </a>
                        </div>
                    </div>
                </div>

                <div class="dropdown d-inline-block">
                    <button type="button" class="btn header-item waves-effect dropdown-toggle" id="page-header-user-dropdown"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="rounded-circle header-profile-user" src="{{ asset('build/images/users/avatar-1.jpg') }}"
                             alt="Header Avatar">
                        <span class="d-none d-sm-inline-block ml-1">{{ app.user.name }}</span>
                        <i class="mdi mdi-chevron-down d-none d-sm-inline-block"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <!-- item-->
                        <a class="dropdown-item" href="{{ path('app_account_view') }}"><i class="mdi mdi-face-profile font-size-16 align-middle mr-1"></i> Profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path('app_auth_logout') }}"><i class="mdi mdi-logout font-size-16 align-middle mr-1"></i> Logout</a>
                    </div>
                </div>
                {% else %}
                    <a href="{{path('app_auth_login')}}">Login</a>
                {% endif %}
            </div>
        </div>
    </header>

    <div class="topnav">
        <div class="container-fluid">
            <nav class="navbar navbar-light navbar-expand-lg topnav-menu">

                <div class="collapse navbar-collapse" id="topnav-menu-content">
                    <ul class="navbar-nav">
                        {% if is_granted('ROLE_CUSTOMER') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_transfer') }}">
                                    <i class="mdi mdi-storefront mr-2"></i>Transactions
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_loan_online') }}">
                                    <i class="mdi mdi-bank-transfer mr-2"></i>Loan
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_instalment_view') }}">
                                    <i class="mdi mdi mdi-email-send-outline mr-2"></i>Instalment
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_fixed_deposit') }}">
                                    <i class="mdi mdi mdi mdi mdi-human-greeting  mr-2"></i>Fixed Deposit
                                </a>
                            </li>
                        {% endif %}

                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_branch_new') }}">
                                    <i class="mdi mdi mdi mdi mdi-bank-plus mr-2"></i>Add branch
                                </a>
                            </li>
                        {% endif %}

                        {% if is_granted('ROLE_MANAGER') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_admin_new') }}">
                                    <i class="mdi mdi mdi mdi mdi-account-plus mr-2"></i>Add user
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_report_generate') }}">
                                    <i class="mdi mdi mdi mdi mdi-book-open mr-2"></i>Report
                                </a>
                            </li>
                        {% endif %}

{#                        <li class="nav-item">#}
{#                            <a class="nav-link" href="feedback.php">#}
{#                                <i class="mdi mdi mdi mdi-heart-outline mr-2"></i>Feedback#}
{#                            </a>#}
{#                        </li>#}

{#                        <li class="nav-item">#}
{#                            <a class="nav-link" href="FAQs.php">#}
{#                                <i class="mdi mdi-book-open-variant mr-2"></i>FAQs#}
{#                            </a>#}
{#                        </li>#}



                        <!-- <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-advancedui" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="mdi mdi-package-variant-closed mr-2"></i>Advanced UI <div class="arrow-down"></div>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="topnav-advancedui">
                                <a href="advanced-alertify.html" class="dropdown-item">Alertify</a>
                                <a href="advanced-rating.html" class="dropdown-item">Rating</a>
                                <a href="advanced-nestable.html" class="dropdown-item">Nestable</a>
                                <a href="advanced-rangeslider.html" class="dropdown-item">Range Slider</a>
                                <a href="advanced-sweet-alert.html" class="dropdown-item">Sweet-Alert</a>
                                <a href="advanced-lightbox.html" class="dropdown-item">Lightbox</a>
                                <a href="advanced-maps.html" class="dropdown-item">Maps</a>
                            </div>
                        </li> -->

                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">
        {% block body %}{% endblock %}
            </div>
        </div>
    </div>
    </body>
</html>
