{% extends 'base.html.twig' %}

{% block title %}Hello ReportController!{% endblock %}

{% block body %}
<div class="row justify-content-md-center">
    <h2>Generate reports</h2>
    <div class="card w-50">
        <div class="card-body">
            {{ form_start(form) }}
            {{ form_errors(form) }}
            <div class="row mb-3">
                {{ form_label(form.branch, 'Branch', {'label_attr': {'class': 'col-sm-4 col-form-label'}}) }}
                <div class="col-sm-8">
                    {{ form_widget(form.branch) }}
                    {{ form_errors(form.branch) }}
                </div>
            </div>
            <div class="row mb-3">
                {{ form_label(form.reportType, 'Loan Type', {'label_attr': {'class': 'col-sm-4 col-form-label'}}) }}
                <div class="col-sm-8">
                    {{ form_widget(form.reportType) }}
                    {{ form_errors(form.reportType) }}
                </div>
            </div>
            <div class="row mb-3">
                {{ form_label(form.date, 'Date', {'label_attr': {'class': 'col-sm-4 col-form-label'}}) }}
                <div class="col-sm-8">
                    {{ form_widget(form.date) }}
                    {{ form_errors(form.date) }}
                </div>
            </div>
            <div class="mt-3">
                {{ form_widget(form.generate, {'attr': {'class': 'btn-success'}}) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}
